[submodule "z3"]
	path = z3
	url = https://github.com/Z3Prover/z3
[submodule "cadical"]
	path = cadical
	url = https://github.com/arminbiere/cadical
[submodule "viras"]
	path = viras
	url = https://github.com/joe-hauns/viras
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "spectra"]
	path = spectra
	url = https://github.com/yixuan/spectra.git
