obj/
doc/


Makefile_depend*

version.cpp

vampire
vampire_dbg
vampire_rel
vampire_gcov
vampire_starexec
vtest
vtest_dbg

vampire.exe
vampire_dbg.exe
vampire_rel.exe

.kdbgrc.vampire*
callgrind.out.*
valgrind.supp
