obj/
doc/

MyProblems/
Problems/
Axioms/
tptp/
Scratch/

Makefile_depend*

version.cpp

vampire
vampire_*
vtest
vtest_*

vampire.exe
vampire_dbg.exe
vampire_rel.exe

.kdbgrc.vampire*
callgrind.out.*
valgrind.supp

._*
.DS_Store
.cproject
.project
.settings/

*.p
*.tptp
*.txt
*.smt2
*.cnf
tags
cmake-build
